# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:y60KUHPvvNFxjqz4@db.tjbhxteqwyrjxwfazyws.supabase.co:5432/postgres"

NEXTAUTH_SECRET="randomsecret"

GOOGLE_CLIENT_ID = "147629708379-opanorn3ae0lesdlu5quu6o2hsns0bec.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = "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"